input:focus,
input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

img {
    vertical-align: top;
    object-fit: cover;
}

.container .card.publi_image {
    margin-top: 1.5rem;
}

.container .card.publi_image:first-child {
    margin-top: 0;
}

.navbar .container_avatar,
.publi_image .container_avatar {
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.navbar .container_avatar {
    margin-top: .35rem;
}

.navbar .container_avatar img,
.publi_image .container_avatar img {
    height: 100%;
    object-fit: cover;
}

.publi_image .card-body {
    padding: 0;
}

.publi_image .card-header {
    display: flex;
    align-content: center;
    align-items: center;
}

.publi_image .data-user {
    margin-left: .4rem;
}

.publi_image .container_img_pub {
    width: 100%;
    height: 100%;
    max-height: 43vh;
    overflow: hidden;
}

.publi_image .container_img_pub img {
    vertical-align: top;
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
}

.image_detail .publi_image .container_img_pub {
    height: 100%;
    max-height: 60vh;
    overflow: hidden;
}

.image_detail .publi_image .container_img_pub img {
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
}

.publi_image .img_info .img_descripcion {
    font-size: 1.05rem;
}

.publi_image .img_info .img_stats_actions {
    margin: 1rem 0;
    text-align: center;
}

.img_info .img_stats_actions .action_item {
    width: 50%;
}

.img_info .img_stats_actions .action_item a {
    width: 100%;
    text-decoration: none;
    padding: .7rem 5rem;
}

.publi_image .img_info .img_stats_actions i {
    font-size: 1.4rem;
}

.img_info .img_stats_actions>div:nth-child(2) {
    border: 0 .1rem solid #292b2c;
}

.publi_image .img_comments .list-group-item {
    background: none;
    border-bottom: none;
    padding: 0.35rem 1.25rem;
    padding-left: 0;
    margin-bottom: .5rem;
}

.img_comments .comment_container .container-avatar {
    padding-right: 0.6rem;
    height: 2.15rem;
}

.img_comments .comment_container .container-avatar img {
    height: 100%;
}

.img_comments .list-group-item .btn {
    padding: 0;
}

/* .img_comments .list-group-item .comment_content span{
    margin-top: 1rem;
} */
.img_comments .list-group-item .comment_actions {
    margin-top: -.25rem;
    font-size: .785rem;
}

.img_comments .list-group-item .comment_response {
    padding: 0 .5rem;
}

.img_comments .list-group-item .delete i {
    font-size: 0.75rem;
}

.liked {
    color: #ff6b6b;
}

.container .pagination {
    margin-bottom: 0;
}

.profile.container .card.publi_image {
    margin-top: 1.5rem;
}

.profile .publi_image .container_img_pub {
    height: 280px;
    width: 280px;
    transition: transform .3s ease-in-out;
}

.profile .publi_image .container_img_pub:hover {
    transform: scale(1.015);
}

.profile .publi_image .container_img_pub img {
    height: 100%;
}
